.header{
	&__container {
		display: flex;
		height: 70px;
		align-items: center;
		padding: 15px 0px;
		margin: 0 auto;
	}
	&__img {
		display: flex;
		align-items: center;
		margin-left: 140px;
	}
	&__menu {
		display: flex;
	}
	&__button {
		margin-right: 140px;
		display: flex;
		
	}
}

.img {
	&__logo {

	}
	&__text-logo {
		margin: 0px 240px 0px 11px;
	}
}
.menu {
	&__icon {

	}
	&__body {

	}
	&__list {
		display: flex;


	}
	&__link {
		margin: 0px 20px 0px 0px;
		font-size: 14px;
		line-height: 14px;
		color: rgba(31, 32, 65, 0.5);
		transition-duration: 0.5s;
	}
	&__link:hover {
		color: rgba(31, 32, 65, 0.75);
		font-weight: 700;
		transition-duration: 0.5s;
	}
}

.button {
	&__come-in {
		color: #bc9cff;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		width: 87px;
		height: 34px;
		border-width: 2px;
		border: solid;
		border-radius: 22px;
		background-image-source: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
		border-image-slice: 1;
		background-color: #fff;	
		box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.03);
		margin-right: 20px;
	}
	&__register {
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		width: 196px;
		height: 34px;
		border-image-slice: 1;
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
		border-radius: 22px;
	}
}

