//<Body>=========================================================================
$mainPageColor: #1F2041BF;
$mainColorOfHeaders: #1F2041;
$colorOfTheLinksInMenu: #1F204180;

//</Body>========================================================================

//<Header>=======================================================================
$textColorBurgerMenu: rgba(255, 255, 255, 0.80);
$backgroundColorBurgerMenu: #1F2041BF;

//</Header>======================================================================

