//<Миксины>==============================================================================================================
@import "core/mixin.scss";
//</Миксины>=============================================================================================================

//<Подключение шрифтов>==================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
//</Подключение шрифтов>=================================================================================================

//<Иконочные шрифты>=====================================================================================================

//</Иконочные шрифты>====================================================================================================

//<Шрифт по умолчанию>===================================================================================================
$fontFamily: Montserrat;
//</Шрифт по умолчанию>==================================================================================================

//<Переменные>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1120;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 890;
$md4: 479.98;
//</Переменные>==========================================================================================================

//<Переменные>===========================================================================================================
@import "core/variables.scss";
//</Переменные>==========================================================================================================

//<Обнуление, общие параметры>===========================================================================================
@import "core/nullstyles.scss";
body {
	color: $mainPageColor;
	font-family: $fontFamily;
	font-size: 14px; 
	height: 100%;
}
main {
	flex: 1 1 auto;
}
//</Обнуление, общие параметры>==========================================================================================

//<Оболочка>=============================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
//</Оболочка>============================================================================================================

//<Основная сетка>=======================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md2+px) {
		max-width: none;
	}
}
//</Основная сетка>======================================================================================================

