doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Jade
  body
    .wrapper
      include ../../parts/header/header.pug
      main.main
        .main__content._container
          .main__number-selection-window
            .number-selection-window__container
              h3.number-selection-window__title Найдём номера под ваши пожелания
              .number-selection-window__inner
                form.number-selection-window__form
                  label.number-selection-window__arrival(for='arrival') прибытие
                  input#calendar.number-selection-window__arrival-input._input-for-selection-window(type='text' placeholder='ДД.ММ.ГГГГ' data-range='true' data-multiple-dates-separator=' - ')
                form.number-selection-window__form
                  label.number-selection-window__arrival(for='arrival') выезд
                  input.number-selection-window__arrival-input._input-for-selection-window(type='text' placeholder='ДД.ММ.ГГГГ')  
          .main__text
            p Лучшие номера для вашей работы, отдыха и просто вдохновения
      include ../../parts/footer/footer.pug     